@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic reset */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;

  @apply bg-neutral-100 dark:bg-neutral-800 text-neutral-800 dark:text-neutral-100;
}
